@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

input[type="text"] {
  outline: none;
}

li {
  list-style: none;
}

.mainImg {
  padding-top: 70px;
  width: 300px;
  height: 300px;
}

.mainContainer {
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
}

.cartContainer {
  display: flex;
  flex-direction: column;
}

.cartTitle {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 40px;
  text-align: center;
}

.cartBox {
  padding-bottom: 50px;
}

.cartHeader {
  text-align: center;
  font-weight: 500;
  padding: 0px;
}

.cartBoxContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.checkBox {
  padding: 10px;
  display: flex;
  align-items: center;
}

.boxLabel {
  width: 120px;
  padding: 5px;
  font-weight: 900;
}

.totalPriceBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.itemContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column; /* 아이템을 세로로 배치 */
  align-items: center;
  border: none;
}

.cartBoxHeader {
  width: 100%;
  height: 64px;
  display: grid;
  align-items: center;
  justify-content: space-between;
  border-top: solid 2px #000;
  border-bottom: 1px solid #d3d3d3;
  grid-template-columns: 0.4fr 1.8fr 1fr 1fr 1fr 1fr;
}

.cartBoxHeader .cartHeader {
  font-size: 16px;
}

.cartItem {
  display: grid;
  grid-template-columns: 0.4fr 1.8fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
  padding: 10px 0;
}

.cartItem .cartBoxH4,
.cartItem .cartBoxH5 {
  letter-spacing: -0.3px;
}

.orderItem .cartBoxH4,
.orderItem .cartBoxH5 {
  letter-spacing: -0.3px;
}

.item {
  text-align: center;
  font-size: 16px;
}

.itemImgBox {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
}

.itemImg {
  width: 100px;
  text-align: center;
}

.itemImg img {
  width: 100%;
}

.itemInfo {
  text-align: left;
  width: calc(100% - 100px);
}

.itemBrand {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}

.itemName {
  font-size: 16px;
}

.itemQuantity {
  display: flex;
}

.quantity {
  width: 40px;
  padding: 5px;
  text-align: center;
}

input[type="number"] {
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.item1 {
  width: 30px;
  text-align: center;
}

.payment {
  width: 100%;
}

.paymentTitle {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
}

.paymentBox {
  width: 100%;
  background-color: #f1f1f1;
  padding: 40px 20px;
}

.paymentBoxHeader {
  width: 77%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

.paymentBoxBody {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  font-size: 24px;
}

.btnContainer {
  margin-bottom: 40px;
}

.btnDeleteSelected,
.btnDeleteAll {
  width: 120px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: none;
  margin-top: 20px;
}

.btnDeleteSelected {
  background-color: #cbcbcb;
  color: #000;
}
.btnDeleteAll {
  margin-left: 10px;
  background-color: #424242;
  color: #fff;
}

.orderBtnContainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.totalPrice {
  font-weight: 700;
}

.btnOrderSubmit {
  width: 240px;
  height: 50px;
  background-color: #424242;
  color: #fff;
}
.quantityBox button {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 0;
  background-color: #efefef;
  border-radius: 50%;
  font-size: 20px;
}

.quantityBox .quantity {
  border: solid 1px transparent;
  transition: border 0.2s;
  outline: none;
  margin: 0 auto;
}
.quantityBox .quantity:focus {
  border-color: #ddd;
}

.option {
  color: #666;
}

.noCart {
  width: 100%;
  line-height: 160px;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
  color: #777;
}

.orderBoxHeader {
  grid-template-columns: 1.8fr 1fr 1fr 1fr 1fr;
}
.orderItem {
  display: grid;
  grid-template-columns: 1.8fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
  padding: 10px 0;
}

/* 주문페이지 */
.orderInfo {
  margin: 50px 0;
}

.orderInfo h3 {
  font-size: 24px;
  border-bottom: solid 1px #000;
  padding: 0 0 10px;
  margin: 0;
  font-weight: 500;
}

.orderInfoList {
}
.orderInfoList li {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 40px;
  font-size: 17px;
  border-bottom: solid 1px #d1d1d1;
}
.orderInfoList li span {
  width: 18%;
}
.orderInfoList li .inputType01 {
  max-width: 400px;
  height: 50px;
  background-color: #f1f1f1;
  padding: 0 10px;
  font-size: 17px;
}

/* 주문완료 */
.orderResult {
  max-width: 460px;
  margin: 80px auto 100px;
}
.orderTop {
  text-align: center;
}
.orderTop .success-message {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 6px;
}
.orderTop .timestamp {
  font-size: 22px;
  color: #5f5f5f;
}
.delivery-info {
  background-color: #f1f1f1;
  padding: 16px 24px 26px;
  margin-top: 50px;
}
.infoBox {
  display: flex;
  justify-content: space-between;
  border-bottom:solid 1px #bbb;
  padding:16px 0;
}

.infoBox .infoTit {color: #666;}
.payment-info {border-bottom: 0;}
.phone-number {text-align: right;}

.buttons {display:flex; gap:10px; margin-top:20px}
.buttons button {border:0;background-color: #424242; width: 50%; height:60px; font-size:16px; color:#fff;}