@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: inherit;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f0f0f0; */
}
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.container{
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}
.pageWidth {
    max-width: 1070px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    border-style: none;
}
.imageFrame {

}

.cartItemTitles {
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartItemContainer {
    border-bottom: 1px solid #000000;
    padding-top: 45px;
    padding-bottom: 45px;

}
.cartItemContainer .cartItem {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.description {
    flex-grow: 1;
}
  .description .imageFrame img {
    display: block;
  }
.checkbox {
    width: 4%;
}
.option,
.quantity,
.price,
.total {
    width: calc(100% / 8);

}



.cartItemContainer .cartItem .description {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-left: 0;

}

.txtCenter{
    text-align: center;
    padding: 0 10px;
}


.qua{
    display: flex;
    justify-content: center;
}

.orderSection{
  padding: 15px 0;
  text-align: center;
}

.subtotalContaier{
    vertical-align: middle;

    background-color: #f0f0f0;
    align-items: center;
    display: flex;
    justify-content: space-around;

}

.subtotalItem {
    align-items: center;
}   
  .subtotalItem > p {
    font-size: 20px;
  }

  .subtotalItem > .subtotalItemName {
    font-weight: bold;
  }


.btn {
  display: inline-block;
  padding: 10px 20px; 
  text-decoration: none;
  background-color: black;
  color: white; 
  
}

#btnDeleteSelected {
  background-color: gray;
  color: black;

}


.cartSubmit {
  border: none;
}