body {
  height: 100%;
  background-color: #fff;
}
.container{
  padding-bottom: 200px;
}
.inputForm {
  display: flex;
  width: 550px;
}
fieldset {
  border: none;
  width: 100%;
}
.formTit {
  text-align: center;
  margin-bottom: 60px;
  font-size: 24px;
  font-weight: bold;
}
.pathBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pathBox li {
  width: calc(100% / 3);
  text-align: center;
  height: 50px;
  border-bottom: 1px solid #424242;
  margin-bottom: 50px;
  position: relative;
}
.pathBox li::after {
  content: '';
  position: absolute;
  top: calc(50% - 5px); right: 0;
  width: 9px;
  height: 10px;
  background: url(../img/icon_arrow.png) no-repeat center/cover;
}
.pathBox li:last-child:after {
  display: none;
}
.pathBox li a {
  text-align: center;
  font-size: 17px;
  line-height: 50px;
}
.joinBox .reqTxt {
  width: 100%;
}
.joinBox .reqTxt h6 {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.joinBox .reqTxt h6 span {
  font-weight: normal;
}
.formBox li:not(.reqTxt) {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  margin-top: 20px;
}
.formBox input {
  height: 58px;
  width: 400px;
  width: 80%;
  border: unset;
  padding: 0 20px;
  font-size: 18px;
  background-color: #f5f5f5;
}
/* .formBox input[] { */
.formBox .label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.errTxt {
  display: none;
  justify-content: flex-start;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  margin-top: 8px;
  color: #E20000;
  margin-left: 20%;
}
.errTxt.active {
  display: flex;
}

/* 비밀번호 확인 */
.chkPwd input {
  width: 100%;
  height: 75px;
  border: none;
  background-color: #f5f5f5;
  margin-top: 60px;
}
.chkTxt {
  margin-top: 13px;
  font-size: 17px;
  font-weight: normal;
  display: block;
  line-height: 1.5;
}
.addressBtn {
  display: block;
  background: #424242;
  color: #fff;
  height: 58px;
  padding: 20px;
  white-space: nowrap;
  line-height: 1;
}
.joinBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
.joinBtn button {
  height: 78px;
  width: calc(50% - 10px);
  font-size: 17px;
}
.joinBtn button.btnType02 {
  color: #fff;
  background: #424242;
}
.agreeBox label {
  display: flex;
  height: 35px;
  align-items: center;
  margin-bottom: 20px;
}
.joinBox .agreeDesc {
  font-size: 17px;
  margin-bottom: 20px;
}
.agreeBox label.agree {
  width: 100%;
  height: 78px;
  background-color: #cbcbcb;
  padding: 20px 30px;
  margin: 30px 0 0 0;
}
.agreeBox label span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  font-size: 18px;
}
.agreeBox label span img {
  transform: rotate(90deg);
  width: 16px;
}
.agreeBox .chkBox {
  width: 100%;
  padding: 30px;
  line-height: 1.7;
  background: #f5f5f5;
  display: none;
}
.agreeBox .chkBox.active {
  display: block;
}
h2.certiTit {
  text-align: center;
  margin: 60px 0;
}
p.certiDesc {
  text-align: center;
  font-size: 17px;
  margin: 20px 0 10px;
}
p.certiDesc a {
  color: #acacac;
}
.certiBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.certiBtn button {
  width: calc(50% - 10px);
  height: 78px;
  margin: 0;
  font-size: 18px;
  color: #000;
  background-color: #f5f5f5;
}
.joinFormWarp input {
  font-size: 17px;
}
.joinFormWarp .label span {
  font-size: 17px;
}
#phoneVerify {
  width: 550px;
  height: 78px;
  font-size: 18px;
}
.iconArrow {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%) rotate(90deg);
  width: 17px;
  cursor: pointer;
}
