.orderList {
}

.orderItem {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  height: 56px;
  align-items: center;
  border-bottom: solid 1px #ccc;
}

.orderItem > div {
  text-align: center;
}

.orderItem .num {
  width: 60px;
}

.orderItem .orderNum {
  flex: 2;
}

.orderItem .total {
  width: 100px;
}

.orderItem .quantity {
  width: 100px;
}

.orderItem .date {
  flex: 1;
}

.orderItem .status {
  flex: 1;
}

.noPost {
  line-height: 16vh;
  text-align: center;
  border-bottom: solid 1px #ccc;
  color: #666;
}

.orderItem .editBtn {
  width: auto;
  height:34px;
  background-color:#5b5b5b;
  color:#fff;
  padding:0 20px;
  }
