@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header{
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;  
}

.inputform{
  background-color: white;
  border: none;
  width: 450px;
  padding: 15px 20px;
  padding-right: 50px; 
  font-size: 20px;
}

input[type="text"] {
  border: none; /* 기본 테두리 제거 */
  border-bottom: 1px solid black; /* 밑줄 스타일 적용 */
  border-radius: 0;
}

.container{
  margin: 0;
  padding: 0;
  
}

body{
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: black; */
  /* background-color: #f0f0f0; */
}

#main {
  background-color: aqua;
  width: 56%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
#main .totalImage {
  background-color: yellow;
  width: 500px;
}
#main .totalImage img {
  width: 100%;
}

#main .totalImage li img {
  width: 100px;
  height: 100px;
  margin-top: 15px;
}

#main .totalImage li {
  float: left;
  margin-right: 10px;
}

#main .totalDetail {
  background-color: coral;
  width: calc(50%);
}
#main .totalDetail .totalDetailOption {
  background-color: lime;
}
#main .totalDetail .totalDetailOption h1 {}
#main .totalDetail .totalDetailOption > p:nth-child(2) {}
#main .totalDetail .totalDetailOption dl {}
#main .totalDetail .totalDetailOption dl dt {}
#main .totalDetail .totalDetailOption dl dd {}
#main .totalDetail .totalDetailOption dl dd.price {}
#main .totalDetail .totalDetailOption .number {}
#main .totalDetail .totalDetailOption .number .orderName {}
#main .totalDetail .totalDetailOption .number .orderNumber {}
#main .totalDetail .totalDetailOption .number .orderNumber input[name="num"] {}
#main .totalDetail .totalDetailOption .number .orderNumber .numberPrice {}
#main .totalDetail .totalDetailOption .totalPrice {}
#main .totalDetail .totalDetailOption .totalPrice p {}
#main .totalDetail .totalDetailOption .totalPrice .resultPrice {}
#main .totalDetail .totalDetailPurchase {
  background-color: beige;
}
#main .totalDetail .totalDetailPurchase button {}
#main .totalDetail .totalDetailPurchase #cartBtn{}
#main .totalDetail .totalDetailPurchase #OrderBtn{}









