@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  /* max-width: 192rem; */
  line-height: normal;
  box-sizing: border-box;
  color: #000;
  padding: 0;
  margin: 0;
  /* margin: 0 auto; */
  letter-spacing: -0.075rem;
  word-break: keep-all;
}

.font_14{
  font-size:14px; 
  font-family: 'Noto Sans KR', Roboto sans-serif; 
  font-weight: normal;
}
.font_17{
  font-size:17px; 
  font-family: 'Noto Sans KR', Roboto sans-serif; 
  font-weight: normal;
}
.font_20{
  font-size:20px; 
  font-family: 'Noto Sans KR', Roboto sans-serif; 
  font-weight: normal;
}
html{
  width: 100vw;
  /* background-color: #fafafa; */
}
body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  /* background-color: #fafafa; */
  font-family: 'Noto Sans KR', "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
.main_body {
  height: 100%;
  display: block;
  position: relative;
}
.head{
  margin-bottom: 0;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  height: 60px;  
  display: flex; 
  align-items: center;
}
.wrapper{
  height : auto;
  min-height: 100%;
}
footer{
  position : relative;
}
button {    
  touch-action: manipulation;
  user-select: none;
  cursor: pointer;
}
button.headmenu{
  height: 50%;
  width: unset;
  margin-right: 20px; 
  background-color:transparent; 
  border: transparent; 
  font-size: 1.2em; 
  font-weight: bold;
}
.bs:hover{
  transform: scale(1.05);
  transition: transform 0.3s linear;
  overflow: hidden;
}
.cate{
  display: flex; align-items: flex-end;
}
button.footmenu{
  height: 50%; 
  margin-right: 40px; 
  background-color:#111111; 
  border: #111111; 
  font-size: 17px; 
  font-weight: 400;
  color:#fafafa;
}
button.footmenu:hover{
  transform: scale(1.1);
  
  transition: 0.15s;
}
.nav{
  padding: 0;
  margin-top: 0;
}
footer {
  clear: both;
  color: #fafafa;
  width: 100%;
  height: 300px;
  background-color: #111111;
  margin: 0;
}
.image {
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #e0e0e0;
  background-size: contain;
}
.image2 {
  width: 100%;
  height: 480px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #e0e0e0;
  background-size: contain;
}
.obimg{
  width:200px;
  height: 200px;
}
.content_wrap{
  width: 49%;
  height: 49%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.headInput{
  width: 350px;
  height: 50%; 
  padding: 15px 20px;
  font-size: 20px;
  padding: 5px; 
  border-radius: 0px; 
  border: none;
  margin-right: 50px; 
  background-color:#fafafa;
}
input[type="text"] {
  border: none; /* 기본 테두리 제거 */
  border-bottom: 1px solid black; /* 밑줄 스타일 적용 */
  border-radius: 0;
}
.header h1,.nav h1 {
  margin: 0;
}
h2, h3 {
  margin-bottom: 5px; /* 원하는 간격으로 조절합니다. */
  margin-top: 5px
}
.logo{
  margin-right: 50px; 
  font-weight: 700; 
  font-style: italic;
}
.logoButton{
  height: 100%; 
  margin-right: 50px; 
  background-color:#fafafa; 
  border: #fafafa;
  font-size: 1em;
}
a {
  text-decoration: none;
}
.slide {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  /* size */
  width: 100%;

  user-select: none;
}
.slide_item {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
  position: relative;
  left: 0px;

  /* size */
  width: 100%;
  height: 480px;
  flex-shrink: 0;

  /* transition */
  transition: left 0.4s;
}
.slide_button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* position */
  position: absolute;
  /* 버튼이 중앙에 위치하게 하기위해 계산 */
  top: calc(50% - 16px);

  /* size */
  width: 30px;
  height: 30px;

  /* style */
  font-size: 3em;
  border-radius: 100%;
  cursor: pointer;
  color: #fafafa;
}
  
.slide_prev_button {
  left: 20px;
  background: url(../img/icon_prev.svg) no-repeat center;
}
.slide_next_button {
  right: 35px;
  background: url(../img/icon_next.svg) no-repeat center;
}

/* 페이지네이션 스타일 */
ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.slide_pagination {
  /* layout */
  display: flex;
  gap: 5px;

  /* position */
  position: absolute;
  bottom: 5%;
  /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
  left: 50%;
  transform: translateX(-50%);
}
.slide_pagination > li {
  /* 현재 슬라이드가 아닌 것은 투명도 부여 */
  color: #fff;
  cursor: pointer;
  font-size: 25px;
}
.slide_pagination > li.active {
  /* 현재 슬라이드 색상은 투명도 없이 */
  color: #cecece;
}

.slide_item_duplicate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0px;
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  transition: left 0.5s;
}

.category_box {
  /* position:sticky;
  margin-left: 120px;
  width: 50%; */
  height: 400px;
  /* top:100px; */
  background-color: transparent;
}

.warp{
  display: flex;
  flex-wrap: wrap;
}
.category_box div {
  margin-bottom: 20px; /* 각각의 아이템 사이의 간격 설정 */
}

img.bs{
  width:100%;
  height: auto;
}
select {
  font-size: 1.2em;
  margin-left: 50px;
  margin-top: 10px;
  outline: 0;
  padding: 4px;
  border-radius: 5px;
  background-color: #d9d9d9;
  border: none;
  font-weight: 600;
}
option{
  font-weight: 600;
}
.top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 160px;
  background-color: #efefef;
  color: black;
  padding: 20px 20px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 700;
}
.top.on {
  display: block;
}
ul.scroll1{
  padding-left: 0;
}
.scroll2{
  margin-bottom: 20px;
  list-style: none;
  text-align: center;
  color: balck;
  font-size: 100px;
  padding: 100px 0;
}
li p{
  font-size: 14px;
  opacity: .8;
}
li h2 {
  font-size: 17px;
}
.more-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* 원하는 여백값 설정 */
}
/* 헤더 css 수정 */
.headmenu {
  display: none;
}
.headmenu.on {
  display: block;
}
.headmenu a {
  font-size: 17px;
  font-weight: 500;
  background-color: transparent;
}
header#header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
}
.header.headerWrap {
  width: 100%;
  margin: 0 auto;
  width: 55.73%;
  min-width: 1070px;
  background-color: transparent;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}
.headmenuWrap {
  display: flex;
}
.main {
  margin-top: 60px;
}
.side1 {
  top: 60%;
  width: auto;
  left: 260px;
}
.category_box .headmenu {
  display: block;
}
.category_box h1 {
  font-size: 20px;
}
.category_box h2 {
  font-size: 17px;
}
.slideRight.cate {
  text-align: left;
}